# Android Studio / IDE
*.iml
.gradle
/local.properties
/.idea
.vscode/

# OS files
.DS_Store

# Build outputs
/build
/captures
.externalNativeBuild
.cxx
module/build
module/release

# Build output directory (not committed)
/out/
